<div class="text-right">
  <%= link_to('<i class="fas fa-plus"></i> Create new medical record'.html_safe, new_pet_medical_record_path, class: "btn btn-success") %>
</div>
<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">Created At</th>
      <th scope="col">Symtoms</th>
      <th scope="col">Treatment</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @medical_records.each do |medical_record| %>
      <tr>
        <td><%= medical_record.created_at.strftime("%H:%M %m/%d/%Y") %></td>
        <td>
          <%= medical_record.symtoms.truncate(50) %>
        </td>
        <td><%= medical_record.treatment.truncate(50) %></td>
        <td class="text-right">
          <%= link_to('<i class="fas fa-eye"></i> View'.html_safe, pet_medical_record_path(@pet, medical_record), class: "btn btn-primary") %>
          <%= link_to('<i class="fas fa-edit"></i> Edit'.html_safe, edit_pet_medical_record_path(@pet, medical_record), class: "btn btn-info") %>
          <%= link_to('<i class="fas fa-trash-alt"></i> Delete'.html_safe, pet_medical_record_path(@pet, medical_record), method: :delete, class: "btn btn-danger", data: {confirm: 'Are you sure?'}) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
